.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# User Specified
.VSCodeCounter
.Pool-Datapack-Squid-Workshop-1.16-1.19/data/pool/functions/classes/cue/points_v2/generate_map.ipynb